.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}
.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}

/* add area */

.header-wrapper-settings {
  position: fixed;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
      rgba(161, 161, 231, 0.671),
      rgba(221, 221, 157, 0.644)
    ),
    url("https://github.com/DragooCho/kakao-clone-v2/blob/master/images/chatheaderbg.png?raw=true");
  padding: 5px 0px;
  top: 0px;
  width: 100%;
  margin-left: -20px;
  border-top: 5px solid rgba(220, 204, 255, 0.685);
  box-shadow: 0px 0px 75px 25px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.headeradd {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
  align-items: center;
}
.headeradd .header__title {
  font-size: 24px;
  font-weight: 600;
}

.headeradd .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.headeradd .header__header-column {
  display: flex;
  align-items: center;
}

.headeradd .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
