@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:wght@300;400&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #1d1a1a;
  font-family: "Roboto", "Raleway", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

main {
  animation: fadeIn 0.5s ease-in-out;
}

/* add area */

.chats__chat {
  border-bottom: 15px solid rgba(51, 85, 138, 0);
}

.header-wrapper-Chats {
  position: fixed;
  background-color: rgba(99, 108, 156, 0.815);
  padding: 5px 0px;
  top: 0px;
  width: 100%;
  margin-left: -20px;
  border-top: 5px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 75px 25px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.chat-top {
  margin-top: 120px;
}

.NewBG {
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
      rgba(161, 161, 231, 0.671),
      rgba(221, 221, 157, 0.644)
    ),
    url("../images/world.jpg");
}

.NewBG .new {
  margin-left: 20px;
  margin-right: 20px;
}

.NewBG .new {
  margin-left: 20px;
  margin-right: 20px;
}

/* body {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)
    ),
    url("../images/world.jpg");

  min-height: 120vh;
} */
